<h1 style="text-align: center; margin-bottom: 3%;">Inserisci pneumatico</h1>
<br>
<div class="container">
<form [formGroup]="gommaForm" >
  <div class="form-group">
    <label class="center-block">Modello:
      <input type="text" class="form-control" formControlName="model" id="model" placeholder="Inserisci modello" >
    </label>

    <label class="center-block">Produttore:
      <input type="text" class="form-control" formControlName="manufacturer" id="manufacturer" placeholder="Inserisci produttore" >

    </label>

    <label class="center-block">Prezzo:
      <input type="text" class="form-control" formControlName="price" id="price" placeholder="Inserisci prezzo" >
    </label>

    <label class="center-block">Larghezza:
      <input type="text" class="form-control" formControlName="width" id="width" placeholder="Inserisci larghezza" >
    </label>

    <label class="center-block">Altezza:
      <input type="text" class="form-control" formControlName="height" id="height" placeholder="Inserisci altezza" >
    </label>

    <label class="center-block">Diametro:
      <input type="text" class="form-control" formControlName="diameter" id="diameter" placeholder="Inserisci diametro" >
    </label>

    <label class="center-block">Carico:
      <input type="text" class="form-control" formControlName="weight" id="weight" placeholder="Inserisci carico" >

    </label>

    <label class="center-block">Velocità:
      <input type="text" class="form-control" formControlName="speed" id="speed" placeholder="Inserisci velocità" >
    </label>

    <label class="center-block">Tipo Veicolo:
      <select class="form-control" formControlName="typeVehicle" id="typeVehicle" name="typeVehicle" >
        <option value="auto">auto</option>
        <option value="moto">moto</option>
        <option value="commerciale">commerciale</option>
      </select>
    </label>

    <label class="center-block">Stagione:
      <select class="form-control" formControlName="season" id="season" name="season" >
        <option value="invernali">invernali</option>
        <option value="estive">estive</option>
        <option value="quattro stagioni">quattro stagioni</option>
      </select>
    </label>

    <label class="center-block">Quantity:
      <input type="text" class="form-control" formControlName="quantity" name="quantity" id="quantity" placeholder="Inserisci quantità" required>
    </label>

  </div>
  <input type="submit" (click)="submit()" value="Inserisci" />
</form>
<div *ngIf="insertSuccess">
  Pneumatico inserito con successo!
</div>
</div>
