<div class="container">
    <div class="pull-left">© 2017 WheelsStore Inc.</div>
    <div class="pull-right">
        <a href=""><img src="img/facebook.svg" width="400" height="268"></a>
        <a href=""><img src="img/twitter.svg"></a>
        <a href=""><img src="img/instagram.svg"></a>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
