<h1 style="text-align: center; margin-bottom: 3%;">Utenti Registrati</h1>
<div class="column">
    <table class="center aligned table table-striped">

        <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Data di nascita</th>
            <th>Codice Fiscale</th>
            <th>Ragione Sociale</th>
            <th>Partita IVA</th>
            <th>Comune</th>
            <th>Città</th>
            <th>Indirizzo</th>
            <th>Telefono</th>
            <th>Ruolo</th>

        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.firstname}}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.dateofbirth}}</td>
            <td>{{ user.fiscalcode}}</td>
            <td>{{ user.businessname}}</td>
            <td>{{ user.vat}}</td>
            <td>{{ user.post}}</td>
            <td>{{ user.city}}</td>
            <td>{{ user.address}}</td>
            <td>{{user.telephone}}</td>
            <td>{{user.role}}</td>

        </tr>


        </tbody>
    </table>
</div>