<h1 style="text-align: center; margin-bottom: 3%;">Lista Veicoli</h1>
<div class="column">
<table class="center aligned table table-striped" >
    <thead>
    <tr>
        <th>Produttore</th>
        <th>Modello</th>
        <th>Alimentazione</th>
        <th>Versione</th>
        <th>Cilindrata</th>
    </tr>
    </thead>
        <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{ vehicle.brand }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.fuel }}</td>
            <td>{{vehicle.version}}</td>
            <td>{{vehicle.capacity}}</td>
        </tr>
    </tbody>
</table>
</div>